@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --ash: #5b5b5b;
  --Scheele-green: #008905;

  --small: 16px;
  --medium: 24px;
  --large: 40px;
  --super-large: 60px;

  --light: 300;
  --middle: 400;
  --heavy: 700;
}

body {
  background-color: #f0f0f0;
  color: #0f0f0f;
  width: 780px;
  margin: var(--medium) auto;
  font-family: "Source Code Pro", monospace;
  font-size: var(--small);
  font-weight: var(--middle);
  line-height: 1.4;
}

a {
  color: var(--Scheele-green) !important ;
  text-decoration: underline;
}

.public-DraftStyleDefault-ul {
  list-style-type: none; /* Remove default bullet */
}

.public-DraftStyleDefault-ul li {
  position: relative; /* Position relative for the custom marker */
}

.public-DraftStyleDefault-ul li::before {
  content: "-"; /* Custom marker */
  position: absolute; /* Absolute position */
  left: -1em; /* Position the marker to the left of the list item */
}

/* The following styles are for HoneEditor component */
.article-title {
  font-weight: var(--heavy);
  font-size: var(--large);
  padding-bottom: var(--small);
  padding-top: var(--large);
}

.block-padding {
  padding-top: var(--small);
}

.facet-title {
  font-weight: var(--heavy);
  padding-top: var(--large);
}

.not-facet {
  padding-top: var(--small);
  font-weight: var(--light);
}

/* The following styles are for MyHone component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: var(--large);
  font-weight: var(--light);
}

.create-article-btn {
  padding: 5px 10px;
  font-size: var(--small);
  font-weight: var(--light);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #191919;
    color: #c1c1c1;
  }

  .not-facet {
    font-weight: calc(var(--light) - 100);
  }
}
