@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --light-white: #f0f0f0;
  --light-black: #0f0f0f;
  --dark-white: #c1c1c1;
  --dark-black: #191919;
  --ash: #777777;
  --Scheele-green: #008905;

  --tiny: 8px;
  --small: 16px;
  --medium: 24px;
  --large: 40px;
  --super-large: 60px;

  --light: 300;
  --middle: 400;
  --heavy: 600;
}

body {
  background-color: var(--light-white);
  color: var(--light-black);
  width: 780px;
  margin: var(--medium) auto;
  font-family: "Source Code Pro", monospace;
  font-size: var(--small);
  font-weight: var(--middle);
  line-height: 1.4;
}

/* For placeholder in hone editor */
.public-DraftEditorPlaceholder-root {
  padding-top: var(--large);
  font-size: var(--large);
  font-weight: var(--light);
  color: var(--ash);
  position: absolute;
  z-index: 1;
  pointer-events: none;
  opacity: 0.6;
}

/* For NavBar */
.nav-bar {
  font-weight: var(--medium);
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--medium);
}
.nav-bar a {
  color: var(--ash);
  text-decoration: none;
}

.nav-bar-right {
  margin-left: auto;
}

.active-facets {
  color: var(--Scheele-green) !important;
}

.active-articles {
  color: var(--light-black) !important;
}

.create-article {
  background-color: transparent;
  font-size: var(--small);
  color: var(--ash);
  font-family: "Source Code Pro", monospace;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* For HoneEditor */
.article-title {
  font-weight: var(--heavy);
  font-size: var(--large);
  padding-bottom: var(--small);
  padding-top: var(--large);
}

.block-padding {
  padding-top: var(--small);
}

.facet-title {
  color: var(--Scheele-green);
  font-weight: var(--heavy);
  padding-top: var(--large);
}

.not-facet {
  padding-top: var(--small);
  font-weight: var(--light);
}

/* For HonePanel */
.hone-panel {
  position: absolute;
  width: 780px;
  margin-top: var(--small);
  background-color: white;
}

.hone-panel-title {
  color: var(--ash);
  padding: var(--tiny);
  margin-bottom: var(--small);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.hone-panel-content {
  color: var(--Scheele-green);
  max-height: 300px;
  overflow: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.facet-item {
  padding: var(--tiny);
  cursor: pointer;
}

.facet-item.highlighted {
  background-color: var(--light-white);
}

/* For Articles list*/
.articles-item {
  padding-top: var(--medium);
  font-size: var(--medium);
}

.articles-item a {
  color: var(--light-black);
  text-decoration: none;
}

.articles-date {
  font-size: var(--small);
  font-weight: var(--light);
  color: var(--ash);
}

/* For FACETs */
.FACETs a {
  color: var(--Scheele-green);
  text-decoration: none;
}

.honed-facet {
  font-weight: var(--heavy);
  padding-top: var(--medium);
}

.facet-updateAt {
  font-size: var(--small);
  font-weight: var(--light);
  color: var(--ash);
}

.honing-facet {
  font-weight: var(--light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-black);
    color: var(--dark-white);
  }
  .article a {
    color: var(--dark-white);
  }

  .not-facet {
    font-weight: calc(var(--light) - 100);
  }

  .active-articles {
    color: var(--light-white) !important;
  }

  .create-article {
    color: var(--dark-white) !important;
  }

  .articles-item a {
    color: var(--dark-white);
  }
}
